absl-py==1.0.0
astunparse==1.6.3
blobfile==1.2.8
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
configparser==5.2.0
cycler==0.11.0
Cython==0.29.28
docker-pycreds==0.4.0
filelock==3.6.0
flatbuffers==2.0
fonttools==4.30.0
gast==0.5.3
geomloss==0.2.4
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gql==0.2.0
graphql-core==1.1
grpcio==1.44.0
h5py==3.6.0
idna==3.3
importlib-metadata==4.11.2
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
libclang==13.0.0
Markdown==3.3.6
matplotlib==3.5.1
mpi4py==3.1.3
numpy==1.22.3
nvidia-ml-py3==7.352.0
oauthlib==3.2.0
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.1
pathtools==0.1.2
Pillow==9.0.1
promise==2.3
protobuf==3.19.4
psutil==5.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodomex==3.14.1
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
sentry-sdk==1.5.7
setproctitle==1.2.2
shortuuid==1.0.8
six==1.16.0
smmap==5.0.0
subprocess32==3.5.4
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
torch==1.11.0
torchvision==0.12.0
tqdm==4.63.0
typing_extensions==4.1.1
urllib3==1.26.8
wandb==0.11.0
watchdog==2.1.6
Werkzeug==2.0.3
wrapt==1.14.0
xmltodict==0.12.0
yaspin==2.1.0
zipp==3.7.0
